<h1>{{title}}</h1>

<form method="post" action="/api/emails/recovery">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <button type="submit">Recuperar</button>
</form>