<h1>{{title}}</h1>

<form method="post" action="/api/sessions/reset/{{token}}">

    <label for="newPass">Nueva contraseña</label>
    <input type="newPass" name="newPass" id="newPass">

    <button type="submit">Generar</button>
</form>