<h1>{{title}}</h1>

<label for="productId">Producto Id</label>
<input type="text" name="productId" id="productId">

<button type="button" class="deleteProduct">Eliminar producto</button>

<form method="get" action="/productmanager">
    <button type="submit">Volver</button>
</form>

<script src="js/deleteProductButton.js"></script>