<h1>{{title}}</h1>

<form method="get" action="/productmanager">
    <button type="submit">Gestionar Productos</button>
</form>

{{#if isAdmin}}
    <form method="get" action="/usermanager">
        <button type="submit">Gestionar Usuarios</button>
    </form>
{{/if}}

{{#if isAdmin}}
    <form method="get" action="/cartmanager">
        <button type="submit">Gestionar Carritos</button>
    </form>
{{/if}}

{{#if isAdmin}}
    <form method="get" action="/ticketsearch">
        <button type="submit">Buscador de tickets</button>
    </form>
{{/if}}

<form method="get" action="/products">
    <button type="submit">Salir</button>
</form>