<h1>{{title}}</h1>

<form method="get" action="/createproduct">
    <button type="submit">Crear producto</button>
</form>

<form method="get" action="/updateproduct">
    <button type="submit">Modificar producto</button>
</form>

<form method="get" action="/deleteproduct">
    <button type="submit">Eliminar producto</button>
</form>

<form method="get" action="/manager">
    <button type="submit">Volver</button>
</form>