<h1>{{title}}</h1>

<form method="post" action="/reset">

    <label for="newPass">Nueva contrase침a</label>
    <input type="newPass" name="newPass" id="newPass">

    <input type="hidden" name="resetToken" id="resetToken" value="{{resetToken}}">

    <button type="submit">Restablecer</button>
</form>

<div>
    <p>La nueva contrase침a debe tener 3 o m치s car치cteres</p>
</div>

<script>
    {{#if error}}
        alert("{{message}}"); 
    {{/if}}
</script>