<h1>{{title}}</h1>

<label for="productId">Producto Id</label>
<input type="text" name="productId" id="productId">

<label for="title">Nombre</label>
<input type="text" name="title" id="title">

<label for="description">Descripción</label>
<input type="text" name="description" id="description">

<label for="price">Precio</label>
<input type="number" name="price" id="price">

<label for="code">Código</label>
<input type="text" name="code" id="code">

<label for="stock">Stock</label>
<input type="number" name="stock" id="stock">

<label for="category">Categoría</label>
<select name="category" id="category">
    <option value="nacional">Nacional</option>
    <option value="internacional">Internacional</option>
</select>

<label for="status">Status</label>
<select name="status" id="status">
    <option value="true">Disponible</option>
    <option value="false">No disponible</option>
</select>

<button type="button" class="updateProduct">Modificar producto</button>

<form method="get" action="/productmanager">
    <button type="submit">Volver</button>
</form>

<script src="js/updateProductButton.js"></script>