<h1>{{title}}</h1>

<form method="get" onsubmit="getUser(event)">

    <label for="userEamil">Email del usuario:</label>
    <input type="text" id="userEmail" name="userEmail" required>

    <button type="submit">Buscar usuario</button>
</form>

<div id="userDataContainer"></div>

<form method="get" onsubmit="changeUserRole(event)">
    <button type="submit">Cambiar Rol</button>
</form>

<form method="get" onsubmit="deleteUser(event)">
    <button type="submit">Eliminar usuario</button>
</form>

<div id="userWarning">
    <p>Para limpiar todos los usuarios debido a inactividad mayor a 2 días, haga 
        click en "Limpiar todos los usuarios". 
    </p>
</div>

<form method="get" onsubmit="clearAllUsers(event)">
    <button type="submit">Limpiar todos los usuarios</button>
</form>

<form method="get" action="/manager">
    <button type="submit">Volver</button>
</form>

<script src="js/userManager.js"></script>