<h1>{{title}}</h1>

<form method="get" onsubmit="getUser(event)">

    <label for="userEamil">Email del usuario:</label>
    <input type="text" id="userEmail" name="userEmail" required>

    <button type="submit">Buscar usuario</button>
</form>

<div id="userDataContainer"></div>

<form method="get" onsubmit="changeUserRole(event)">

    <button type="submit">Cambiar Rol</button>

</form>

<form method="get" onsubmit="deleteUser(event)">

    <button type="submit">Eliminar usuario</button>
</form>

<form method="get" onsubmit="clearAllCarts(event)">

    <button type="submit">Limpiar todos los carritos</button>

</form>

<div id="cartWarning">
    <p>Para limpiar un carrito específico, primero busque el carrito por id y 
        seleccione la opción "Vaciar carrito"
    </p>
    <p>Para limpiar todos los carritos debido a inactividad mayor a 2 días,
        haga click en "Limpiar todos los carritos"
    </p>
</div>

<script src="js/userManager.js"></script>