* {
    background-color: black;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background: white;
    color: black;
    margin-bottom: 10px;
}

button {
    padding: 5px;
    margin-top: 5px;
    background-color: #64d73e;
}

hr {
    width: 95%;
}

.userData {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 1px solid white;
    padding: 5px;
}

#userWarning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border: 1px solid white;
    padding: 5px;
}

.docParagraph {
    margin-left: 20px; 
}

.greenText {
    color: green;
}

.redText {
    color: red;
}

.userInfo{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.userDocs{
    margin: 0px 100px;
}

.uploaderButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploaderButtons button {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 150px;
}